@model IEnumerable<NhmLesson06.Models.NhmSong>

@{
    ViewBag.Title = "Nhm:Danh sách ứng viên";
}

<h2>Nhm Danh sách ứng vieen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NhmTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhmAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhmArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhmYearRelease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NhmTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhmAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhmArtist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhmYearRelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
